// Header Styles
$h1-fontsize: 2.2rem !default;
$h2-fontsize: 1.8rem !default;
$h3-fontsize: 1.5rem !default;
$h4-fontsize: 1.25rem !default;
$h5-fontsize: 1.1rem !default;
$h6-fontsize: 1rem !default;
